<div class="sidebar" data-color="azure" data-image="~/assets/img/sidebar.jpg">
    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text">
                Gestão de Condomínio
            </a>
        </div>
        <ul class="nav">
            <li class="active">
                <a href="#!/apartamento">
                    <p>Apartamentos</p>
                </a>
            </li>
            <li>
                <a href="#!/morador">
                    <p>Moradores</p>
                </a>
            </li>
            <li >
                <a href="#!/usuario">
                    <p>Usuários</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Apartamento</a>
            </div>           
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                        <input type="text" class="form-control" placeholder="Digite o nome do morador" ng-model="searchApartamento">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" ng-click="abrirModal()" class="btn btn-info btn-fill btn-block">Novo</button>
                            </div>
                        </div>
                    </form>
                    <div class="card">
                        <div class="header">
                            <p class="category">Listagem de todos os apartamentos</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                <th>Nome</th>
                                <th>Numero</th>
                                <th>Bloco</th>
                                </thead>
                                <tbody>
                                    <tr ng-show="aguardandoLista">
                                        <td colspan="3">
                                            <div class="text-center"><i class="fa fa-spinner fa-pulse fa-fw" ng-show="carregando"></i>  Carregando </div>
                                        </td>
                                    </tr>
                                    <tr ng-show="apartamentos.lenght <= 0 && !aguardandoLista">
                                        <td colspan="3">
                                            <div class="text-center"> Nenhum apartamento cadastrado. </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="apartamento in apartamentos | filter:searchApartamento" ng-show="!aguardandoLista">
                                        <td>{{apartamento.nome}}</td>
                                        <td>{{apartamento.numero}}</td>
                                        <td>{{apartamento.bloco}}</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Moradores" class="btn btn-default btn-simple btn-xs" ng-click="abrirModalMoradores(apartamento)">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Editar Apartamento" class="btn btn-info btn-simple btn-xs" ng-click="atualizarSelecionado(apartamento)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Excluir Apartamento" class="btn btn-danger btn-simple btn-xs" ng-click="excluirSelecionado(apartamento)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="apartamento.modal.cadastro.html">
    <div class="modal-body">
        <div class="card">
            <div class="content">
                <form name="formCadastroApartamento" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error' : formCadastroApartamento.nome.$invalid && !formCadastroApartamento.nome.$pristine }">
                                <label>Nome</label>
                                <input type="text" name="nome" class="form-control" placeholder="Digite o nome do apartamento" ng-model="novoApartamento.nome" required>
                                <p ng-show="formCadastroApartamento.nome.$invalid && !formCadastroApartamento.nome.$pristine" class="help-block">Campo obrigatório.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error' : formCadastroApartamento.numero.$invalid && !formCadastroApartamento.numero.$pristine }">
                                <label>Número</label>
                                <input type="text" name="numero" class="form-control" placeholder="Digite o número do apartamento" ng-model="novoApartamento.numero" required>
                                <p ng-show="formCadastroApartamento.numero.$invalid && !formCadastroApartamento.numero.$pristine" class="help-block">Campo obrigatório.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error' : formCadastroApartamento.bloco.$invalid && !formCadastroApartamento.bloco.$pristine }">
                                <label>Bloco</label>
                                <input type="text" name="bloco" class="form-control" placeholder="Digite o bloco do apartamento" ng-model="novoApartamento.bloco" required>
                                <p ng-show="formCadastroApartamento.bloco.$invalid && !formCadastroApartamento.bloco.$pristine" class="help-block">Campo obrigatório.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-fill" ng-click="fecharModal()" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-info btn-fill" ng-click="cadastrar()" ng-disabled="formCadastroApartamento.$invalid">
                <span ng-show="carregando"><i class="fa fa-spinner fa-pulse fa-fw"></i>  Carregando </span>
                <span ng-show="!carregando">Cadastrar</span>
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="apartamento.modal.editar.html">
    <div class="modal-body">
        <div class="card">
            <div class="content">
                <form name="formCadastroApartamento" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error' : formCadastroApartamento.nome.$invalid && !formCadastroApartamento.nome.$pristine }">
                                <label>Nome</label>
                                <input type="text" name="nome" class="form-control" placeholder="Digite o nome do apartamento" ng-model="editApartamento.nome" required>
                                <p ng-show="formCadastroApartamento.nome.$invalid && !formCadastroApartamento.nome.$pristine" class="help-block">Campo obrigatório.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error' : formCadastroApartamento.numero.$invalid && !formCadastroApartamento.numero.$pristine }">
                                <label>Número</label>
                                <input type="text" name="numero" class="form-control" placeholder="Digite o número do apartamento" ng-model="editApartamento.numero" required>
                                <p ng-show="formCadastroApartamento.numero.$invalid && !formCadastroApartamento.numero.$pristine" class="help-block">Campo obrigatório.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error' : formCadastroApartamento.bloco.$invalid && !formCadastroApartamento.bloco.$pristine }">
                                <label>Bloco</label>
                                <input type="text" name="bloco" class="form-control" placeholder="Digite o bloco do apartamento" ng-model="editApartamento.bloco" required>
                                <p ng-show="formCadastroApartamento.bloco.$invalid && !formCadastroApartamento.bloco.$pristine" class="help-block">Campo obrigatório.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-fill" ng-click="fecharModal()" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-info btn-fill" ng-click="atualizar()" ng-disabled="formCadastroApartamento.$invalid">
                <span ng-show="carregando"><i class="fa fa-spinner fa-pulse fa-fw"></i>  Carregando </span>
                <span ng-show="!carregando">Cadastrar</span>
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="apartamento.modal.moradores.html">
    <div class="modal-body">
        <div class="card">
            <div class="content">
                <div class="table-full-width">
                    <table class="table">
                        <thead>
                        <th>Morador</th>
                        <th>Responsável</th>                        
                        </thead>
                        <tbody>
                            <tr ng-repeat="morador in moradoresApartamento">
                                <td>{{morador.nome}}</td>
                                <td><i class="fa fa-check" ng-show="morador.responsavel" ></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-fill" ng-click="fecharModal()" data-dismiss="modal">Cancelar</button>            
        </div>
    </div>
</script>


