<div class="sidebar" data-color="azure" data-image="~/assets/img/sidebar.jpg">
    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text">
                Gestão de Condomínio
            </a>
        </div>
        <ul class="nav">
            <li>
                <a href="#!/apartamento">
                    <p>Apartamentos</p>
                </a>
            </li>
            <li>
                <a href="#!/morador">
                    <p>Moradores</p>
                </a>
            </li>
            <li class="active">
                <a href="#!/usuario">
                    <p>Usuários</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Usuário</a>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                        <input type="text" class="form-control" placeholder="Digite o nome do morador" ng-model="searchUsuario">
                                    </div>                                    
                                </div>
                            </div>
                            <div class="col-md-2">    
                                <button type="submit" ng-click="abrirModal()" class="btn btn-info btn-fill btn-block">Novo</button>
                            </div>                            
                        </div>                       
                    </form>
                    <div class="card">
                        <div class="header">
                            <p class="category">Listagem de todos os usuários</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                <th>Login</th>
                                </thead>
                                <tbody>
                                    <tr ng-show="aguardandoLista">
                                        <td colspan="3">
                                            <div class="text-center"><i class="fa fa-spinner fa-pulse fa-fw" ng-show="carregando"></i>  Carregando </div>
                                        </td>
                                    </tr>
                                    <tr ng-show="usuarios.lenght <= 0 && !aguardandoLista">
                                        <td colspan="3">
                                            <div class="text-center"> Nenhum usuário cadastrado. </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="usuario in usuarios | filter:searchUsuario" ng-show="!aguardandoLista">
                                        <td>{{usuario.login}}</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" ng-click="excluirSelecionado(usuario)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<script type="text/ng-template" id="usuario.modal.cadastro.html">
    <div class="modal-body">
        <div class="card">
            <div class="content">
                <form name="formCadastroUsuario" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error' : formCadastroUsuario.login.$invalid && !formCadastroUsuario.login.$pristine }">
                                <label>Login</label>
                                <input type="text" name="login" class="form-control" placeholder="Digite o login de cadastros" ng-model="novoUsuario.login" required>
                                <p ng-show="formCadastroUsuario.login.$invalid && !formCadastroUsuario.login.$pristine" class="help-block">Campo obrigatório.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error' : formCadastroUsuario.senha.$invalid && !formCadastroUsuario.senha.$pristine }">
                                <label>Login</label>
                                <input type="password" name="senha" class="form-control" placeholder="Digite a senha do login" ng-model="novoUsuario.senha" required>
                                <p ng-show="formCadastroUsuario.senha.$invalid && !formCadastroUsuario.senha.$pristine" class="help-block">Campo obrigatório.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-fill" ng-click="fecharModal()" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-info btn-fill" ng-click="cadastrar()" ng-disabled="formCadastroUsuario.$invalid">
                <span ng-show="carregando"><i class="fa fa-spinner fa-pulse fa-fw"></i>  Carregando </span>
                <span ng-show="!carregando">Cadastrar</span>
            </button>
        </div>
    </div>
</script>

